<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align:center;"> 
            Sign Up! 
        </h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="POST">
                <div class="formgroup">
                    <input type="text" class="form-control" name="username" placeholder="username" width="50%"><br>
                </div>
                <div class="formgroup">
                    <input type="password" class="form-control" name="password" placeholder="password" width="50%"><br>
                </div>
                <div class="formgroup">
                    <button class="btn btn-lg btn-primary btn-block">SignUp</button><br>
                </div>
            </form>
            <a href="/campgrounds">Go back</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>
