.thumbnail img{
    width:100%;
}
.thumbnail{
    padding:0;
}
.thumbnail .caption-full{
    padding :9px;
}
#delete-form{
    display: inline;
}
#short{
    text-align: center;
    width:50%;
    margin:50px auto;
}
#copyright{
    margin-left: 43%
}